<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>

  <!-- ================================================================================================== -->
  <!-- ==========  LOG4NET ============================================================================== -->
  <!-- ================================================================================================== -->
  <log4net>
    <appender name="FileAppenderDebugHtml" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\debug.html"/>
      <rollingStyle value="Size"/>
      <appendToFile value="false"/>
      <maxSizeRollBackups value="0"/>
      <maximumFileSize value="1MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <header>
          <![CDATA[<html><head><link href="..\..\..\log.css" rel="stylesheet" type="text/css" />
        <meta http-equiv="Content-Type" content="text/html; charset=windows-1251"></head><body>]]>
        </header>
        <conversionPattern>
          <![CDATA[<a href='log%d{MMdd}\%d{HH\hmm\m}.html#item%d{ssfff}'>%d{HH:mm}</a>%d{:ss,fff}
[%level]<b>%logger</b> : <span class=message>%message</span> <br>
]]>
        </conversionPattern>
        <footer><![CDATA[<hr size=1>]]></footer>
      </layout>
    </appender>
    <root>
      <appender-ref ref="FileAppenderDebugHtml"/>
    </root>
  </log4net>
</configuration>